@import "./partials/_typography";
@import "./partials/_colors";

.menu-toggle {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 12px;
    cursor: pointer;
    left: 68px;
}
.menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -ms-transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px);
}
.menu-toggle.on .two {
  opacity: 0;
}
.menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
}

.one,
.two,
.three {
  width: 100%;
  height: 3px;
  background: #586763;
  margin: 8px auto;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

 nav ul {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    list-style: none;
    margin: 10em auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;/*34.98px*/
    line-height: 62.90px;
    letter-spacing: 5px;
    font-weight: 200;
   
}

nav ul a {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: none;
  color: black;
  font-size: 3em;
  line-height: 1.5;
  width: 100%;
  display: block;
}
nav ul a:hover {
/*  background-color: rgba(0, 0, 0, 0.5);*/
}
nav ul li{
  margin: 20px;
}

.menu-section {
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  padding: 70px 70px 0 70px;
  box-sizing: border-box;
}