<template id="header-template">
	<div>
		<div class="bar">
			<a id="logo" href="/">SFLOREZ</a>
			<a id="toggle" href="#"><div></div></a>
		</div>

		<div class="menu-section">
      <div class="cadre">
        <div class="menu-toggle" @click="showMenu">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
        <nav>
          <ul role="navigation" id="menu" >
            <li><a href="#">HOME</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#">WORKS</a></li>
            <li><a href="#">EXPERIENCE</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </div>
	</div>
</template>